

article, aside, footer, header, hgroup, main, nav, section {
    display: block;
}

.flash-message{
    height:30px;
    margin-top:-19px;
}

input[type="checkbox"]{
    width: 19px;
    height: 19px;
    margin-top:-2px;
}

.navbar-default {
    background-color: #665851;
    border-color: #665851;
}

.btn {
	background-color: #665851;
	border-color: #665851;
}