.sq-dwn-branch {
	width: 294px;
    height: 30px;
	border-radius:4px;
	padding-left:3px;
    padding-bottom: 5px;
}

.sq-inputtxt {
	text-align: right;
	padding-right:5px;
	border: solid 1px #D3D3D3;
	border-radius:3px;
	width:50px;
}

.sq-inputtxt2 {
    text-align: center;
    border-radius:3px;
    border: solid 1px #D3D3D3;
    width:65px;
    height: 23px;
    margin-left: -10px;
}

.spacebottom {
	margin-bottom: -5px;
	margin-top: -9px;
}

.salesquotation {
    margin-top:-10px;
}

.bulkpack {
    border-radius: 3px;
    width: 200px;
    height: 24px;
}

.sales-quotation-details {
    border: solid 1px #C0C0C0;
    border-radius: 4px;
    width:1500px;
    height: auto;
    position: inline;
}

.sales-quot-header {
    border: none;
    margin-left: 15px;
    margin-top: 1px;

}

.edit-input {
    display:none;
    font-size: 11px;
    line-height: 1.428571429;
    color: #555555;
    vertical-align: middle;
    background-color: #ffffff;
    background-image: none;
    border: 1px solid #cccccc;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}

.tbody{
    height: auto;
    min-height:15px;
    display:block;
}

.groupborder{
    border: solid 2px  #333333;
    border-radius: 4px;
    margin-bottom: 4px;
    margin-top: 2px;
}

.totallabel{
    margin-right: 100px;
    display: inline-block;
}

input:focus{
    outline: none;
}

.termscondition{
    margin-top: -5px;
    font-size: 120%;
}

/*ul{
    list-style-type: none;
}
*/
.sq-dwn-d_type {
    width: 100px;
    height: 23px;
    border-radius:4px;
    padding-left:3px;
}
.sq-dwn-prj_list {
    width: 120px;
    height: 23px;
    border-radius:4px;
}
.sq-inputtxt3 {
    text-align: center;
    padding-right:5px;
    border: solid 1px #D3D3D3;
    border-radius:3px;
    width:80px;
}

.distance-input {
    margin-top:1px;
}

.pp-inputtxt {
    height:23px;
    border-radius: 2px;
    text-align: right;
    font-size: 13px;
}

.cm-div {
    border:1px solid #C0C0C0;
    border-radius:5px;
    width: 760px;
    height: auto;
}

.cm-div-reopen {
    border:1px solid #C0C0C0;
    border-radius:5px;
    width: 500px;
    height: auto;
    margin-top: -10px;
    float: left;
}

.cmdetails-right {
    border:1px solid #C0C0C0;
    width:auto;
    height: auto;
    position: relative;
    float: left;
    display: inline;
    margin-top: -10px;
    margin-left: 10px;
}

a.disabled {
   pointer-events: none;
   cursor: default;
}

.dropbtn {
    /*background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;*/
}
.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);

}
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdown-content a:hover{
    background-color: #f1f1f1
}

/*.dropdown:hover .dropdown-content {
    display: block;
}
*/
.dropdown:hover .dropbtn {

}

.header-add{
    font-size: 11px;
    line-height: 1.428571429;
    color: #555555;
    vertical-align: middle;
    background-color: #ffffff;
    background-image: none;
    border: 1px solid #cccccc;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}

div.pending{
    position: absolute;
    margin-top: -2px;
    display: none;
    float: left;
    clear: both;
    width:95px;
    background-color: #C0C0C0;
    padding: 0% 0% 1% 1%;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    list-style: none;
}

.oina a {
    text-decoration: none;
    color: white;
    background-color: #666;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    padding: 10px 20px;
    list-style: none;
}

.top-message{
    position: fixed;
    z-index: 130;
    height:22px; 
    width:100%;
    margin-top:-2px;
}

.bottom-space{
    margin-bottom:6%;
}

.card-container.card{
    max-width: 350px;
    /* max-height: 450px;*/
    padding: 40px 40px;
    /*float: center;*/
 }
/*
 * Card component
 */
 .card{
    background-color: #708090;
    /* just in case there no content*/
    padding: 20px 25px 30px;
    margin: 0 auto 25px;
    /*margin-top: 50%;*/
    /* shadows and rounded borders */
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -moz-box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.3);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    position: absolute;
    top:25%;
    bottom: 35%;
    left: 0;
    right: 0;
    margin: auto;
 }

 .profile-img-card{
    max-width: 540px;
    max-height: auto;
    margin: 0 auto 10px;
    display: block;
    /*    -moz-border-radius: 50%;
    z-index: webkit-border-radius: 50%;
    border-radius: 50%;*/
}
/*
 * Form styles
 */
 .profile-name-card {
    font-size: 10px;
    font-weight: bold;
    text-align: center;
    margin: 10px 0 0;
    min-height: 1em;
 }
 
 .reauth-email {
    display: block;
    color: #404040;
    line-height: 2;
    margin-bottom: 10px;
    font-size: 10px;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
 }

 .form-signin #inputUser,
 .form-signin #inputCompany,
 .form-signin #inputPassword {
    direction: ltr;
    height: 25px;
    font-size: 10px;
 }

 .form-signin input[type=email],
 .form-signin input[type=password],
 .form-signin input[type=text],
 .form-signin button {
    width: 100%;
    display: block;
    margin-bottom: 10px;
    z-index: 1;
    position: relative;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
 }

 .form-signin .form-control:focus {
    border-color: rgb(104, 145, 162);
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgb(104, 145, 162);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgb(104, 145, 162);
 }

 .btn.btn-signin {
    float: left;
    /*background-color: #4d90fe; */
    background-color: rgb(104, 145, 162);
    /* background-color: linear-gradient(rgb(104, 145, 162), rgb(12, 97, 33));*/
    padding: 0px;
    font-weight: 700;
    font-size: 10px;
    height: 25px;
    /*width: 50px;*/
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    border: none;
    -o-transition: all 0.218s;
    -moz-transition: all 0.218s;
    -webkit-transition: all 0.218s;
    transition: all 0.218s;
 }

 .btn.btn-signin:hover,
 .btn.btn-signin:active,
 .btn.btn-signin:focus {
    background-color: rgb(12, 97, 33);
 }

 .forgot-password:hover,
 .forgot-password:active,
 .forgot-password:focus{
    color: rgb(12, 97, 33);
 }

 .modal-saveIcon {
  margin-left: 532px;
  margin-right: 10px;
  margin-top: 6px;
}

.col-me-1 {
 position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  float: left;
  width:80%;
  margin-left: -50px;
  margin-right: 5px;
}

.loading {
    position:   fixed;
    height:     100%;
    width:      100%;
    top:        0px;
    right:      0px;
    left:       7px;
    background: rgba( 255, 255, 255, .8 )
                url('/images/ajax-loader.gif')
                50% 50%
                no-repeat;
}
.inputremarks{
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.428571429;
  color: #555555;
  vertical-align: middle;
  background-color: #ffffff;
  background-image: none;
  border: 1px solid #cccccc;
  border-radius: 4px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s; }

  .modal-lg1 {
    width: 1200px;
  }

#asd{
  margin-top: 23px;
}

.acctcode {
  padding: 1px 1px;
  width: 15%;
  height: 23px;
  font-size: 10px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
       -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
          transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.space {
  margin-left: 8px;
}

.forbuttons {
   background-color:#1B1B1B;
   font-weight:200;
   border-radius:2px solid;
   border-color:white;
}

.pads {
  text-align: center;
}

.cuts{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.countrycode{
  width: 11.5%
}

.lineno{
  width: 52%
}

#naks{
  margin-right: -50px;
}

#noks{
  margin-left: 12px;
}

.salestextoverflow{
  text-overflow: ellipsis;
  overflow: hidden;
  cursor: move;
}